Options +FollowSymLinks
RewriteEngine on

# No hacer rewrite a los ficheros que ya existen (js, bootstrap)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# QSA -> Query String Append para poder usar query parameters con los controladores
RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=$1&action=$2&id=$3 [NC,L,QSA]

php_flag display_errors off